.btn-square-raised-Ganbatta-Yoikoto {  
    font-size: 4vh;
    width: 30vh;
    height: 30vh;
    line-height: 30vh;
    display: inline-block;
    /*コレ*/display: flex;
    /*コレ*/justify-content: center;
    /*コレ*/align-items: center;
    /* padding: 0.5em 1em; */
    text-decoration: none;
    background: #66d892;/*ボタン色*/
    color: #000000;/*ボタン色と同じに*/
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    /* border-bottom: solid 3px #627295; */
    border-radius: 50%;
    border: 4px solid;
    font-weight: bold;
    overflow: hidden;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  }
    
  .btn-square-raised-Ganbatta-Yoikoto {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
    /* border-bottom: none; */
  }